._sidebarContainer{
    width: 12%;
    background-color: #EBEBEB;
    height: 100vh;
    color: black;
    
    
}
._container{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    
}

._list{
    list-style-type: none;
    text-align: left;
    line-height: 2;
    width: 100%;
   
}

._element{
    background: #b3b2b2;
    width: 100%;
    height: 50%;
    margin-bottom: 1px;
    border: none;
    cursor: pointer;
    font-size: 0.9rem;
    color: black;
    outline: none;
}
._element:hover{
    color: white;
}

._links{
    text-decoration: none;
}
._links::visited ._links::active {
    text-decoration: none;
  }

  li:active li:visited{
    text-decoration: none;
  }